app==0.0.1
appdirs==1.4.3
beautifulsoup4==4.4.1
catfish==1.4.2
CDApplet==1.0
CDBashApplet==1.0
chardet==2.3.0
click==6.7
command-not-found==0.3
defer==1.0.6
Flask==0.12
Flask-Cors==3.0.2
future==0.16.0
html5lib==0.999
itsdangerous==0.24
Jinja2==2.9.5
jsondatabase==0.1.7
language-selector==0.1
lightdm-gtk-greeter-settings==1.2.1
lxml==3.5.0
MarkupSafe==1.0
menulibre==2.1.3
mugshot==0.3.1
myapp==0.1.dev0
nltk==3.2.2
oauthlib==2.0.1
onboard==1.2.0
packaging==16.8
pbr==1.10.0
pdfkit==0.6.1
pexpect==4.0.1
Pillow==3.1.2
psutil==3.4.2
psycopg2==2.7.1
ptyprocess==0.5
pycups==1.9.73
pycurl==7.43.0
pygobject==3.20.0
PyMySQL==0.7.10
pyparsing==2.2.0
python-apt==1.1.0b1
python-dateutil==2.6.0
python-debian==0.1.27
python-systemd==231
python-twitter==3.2.1
pyxdg==0.25
PyYAML==3.12
reportlab==3.3.0
requests==2.13.0
requests-oauthlib==0.8.0
sessioninstaller==0.0.0
six==1.10.0
stevedore==1.20.0
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
virtualenvwrapper-win==1.2.1
Werkzeug==0.12.1
xkit==0.0.0
